<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Crear Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-card>
    <ion-list>
      <ion-item>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </ion-item>
      <ion-item>
        <ion-input label="Nombre" placeholder="Nombre y Apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Numero Celular" type="number" placeholder="Celular"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Correo" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
      <ion-button slot="end" id="click-trigger">Guardar</ion-button>
    </ion-list>
  </ion-card>
</ion-content>
<!-- Modal para continuar con el proceso de creación -->
<ion-popover trigger="click-trigger" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-button>Crear prestamo</ion-button>
        </ion-item>
        <ion-item>
          <ion-button>Guardar cliente</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
